<div class="row">
  <div class="col-xs-4">
    <div *ngIf="isLoading">
      <rb-loading-spinner></rb-loading-spinner>
    </div>
    <form (ngSubmit)="onSubmit(f)" #f="ngForm" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email:</label>
        <input 
        type="email" 
        name="email" 
        id="email" 
        class="form-control"
        ngModel
        required
        email
        >
      </div>
      <div class="form-group">
        <label for="password">Passowrd:</label>
        <input 
        type="password" 
        name="password" 
        id="password" 
        class="form-control"
        ngModel
        required
        minlength="6"
        >
      </div>
      <div >
        <button type="submit" [disabled]="!f.valid" class="btn btn-primary">{{ loginMode?'Login':'Signup' }}</button> | 
        <button type="button" class="btn btn-primayr" (click)="onSwitchToLogin()">Switch to {{loginMode?'Signup':"Login"}}</button>
      </div>
    </form>
  </div>
</div>