<div class="row">
  <div class="col-xs-4">
    <form>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" class="form-control">
      </div>
      <div class="form-group">
        <label for="password">Passowrd:</label>
        <input type="password" name="password" id="password" class="form-control">
      </div>
      <div >
        <button type="submit" class="btn btn-primary">Signup</button> | 
        <button type="button" class="btn btn-primayr">Login</button>
      </div>
    </form>
  </div>
</div>